.border_color {
  background-color: #000;
}

.back {
  background-color: #555;
}

.enabled {
  background: linear-gradient(#666, #222) !important;
}

.button, .radio {
  background: linear-gradient(#AAA, #555);
}

.button:hover, .radio:hover {
  background: linear-gradient(#555, #AAA);
}

.button span, .radio span, .rem_button span {
  color: #FFF;
}

.rem_button {
  background: linear-gradient(#FF7070, #BF0000);
}
.rem_button:hover {
  background: linear-gradient(#BF0000, #FF7070);
}