.border_color {
  background-color: #000;
}

.back {
  background-color: #555;
}

.enabled {
  background-color: #CCC !important;
}

.button, .radio {
  background-color: #888;
}

.button:hover, .radio:hover {
  background-color: #AAA;
}

.button span, .radio span, .rem_button span {
  color: #FFF;
}

.rem_button {
  background-color: #F00;
}
.rem_button:hover {
  background-color: #FF7F7F;
}