#properties {
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.entity_name {
  font-size: 4em;
}
.property, .insert_prop {
  font-size: 2em;
}

.entity {
  width: 100%;
  background-color: #000;
  margin-bottom: -4px;
  padding-top: 4px;
}
.entity:first-child {
  padding-top: 0 !important;
}

.entity_name {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 4px;
  color: #FFF;
}

.key_cell, .entity_name {
  text-indent: 4px;
  background-color: #333;
}

.property {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4px;
}

/*
--------------------------------------------------------------------------------
----------------------------------  CELLS  -------------------------------------
--------------------------------------------------------------------------------
*/

.key_cell {
  width: calc(30% - 2px);
}
.val_cell {
  width: calc(60% - 4px);
}
.rem_cell {
  width: calc(10% - 2px);
}

.key_cell {
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.key_cell span {
  color: #FFF;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: scroll;
}

.rem_cell {
  height: auto;
}
.rem_cell .rem_button {
  height: 100%;
}

/*
--------------------------------------------------------------------------------
--------------------------------  INSERTER  ------------------------------------
--------------------------------------------------------------------------------
*/

.insert_prop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4px;
}
.insert_prop > .button {
  width: calc(60% - 2px);
}
.insert_prop > select {
  width: calc(40% - 2px);
}

/*
--------------------------------------------------------------------------------
---------------------------------  SELECT  -------------------------------------
--------------------------------------------------------------------------------
*/

.entity select:focus {
  outline: none;
}
.entity select {
  border-radius: 8px;
  font-size: inherit;
  text-indent: 4px;
  border: none;
  padding: 0;
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.entity select:hover {
  cursor: pointer;
}

/*
--------------------------------------------------------------------------------
---------------------------------  VALUES  -------------------------------------
--------------------------------------------------------------------------------
*/

.val_cell input {
  border-radius: 8px;
  font-size: inherit;
  text-indent: 4px;
  padding: 0;
  margin: 0;
  border: 0;
}
.val_cell input:focus {
  outline: #00F solid 2px;
}

/*-------------------------------  FLOAT  ------------------------------------*/
.val_float,
.val_cell > .val_uint,
.val_orient,
.val_string,
.val_bool,
.val_bool_op {
  width: 100%;
}

/*--------------------------------  VEC  -------------------------------------*/
.val_vec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
}
.val_vec > .val_uint {
  width: calc(50% - 2px);
}

/*-------------------------------  ARRAY  ------------------------------------*/
.val_array {
  background-color: #000;
}
.val_array .item {
  width: 100%;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.val_array .rem_button {
  /*
  .val_cell has a width of 60%
  .rem_cell has a width of 10%
  .val_array is as wide .val_cell so percentage units are relative to the width
  of .val_cell.
  We divide by 60 and multiply by 100 to get a percentage relative to .property.
  We then multiply 10% to get the size of .property > .rem_button relative to
  the size of .val_cell.
  Finally, we subtract 2px from both the .rem_button and the .val_uint to create
  a 4px border between them.
  */
  width: calc(1000% / 60 - 2px);
}
.val_array .val_uint {
  width: calc(100% - 1000% / 60 - 2px);
}