#properties {overflow-x: hidden;overflow-y: scroll;}

.entity {
  width: 100%;
  background-color: #000;
  margin-bottom: 32px;
  padding-top: 4px;
}

.entity:first-child {
  padding-top: 0 !important;
}

.entity_name {
  width: 100%;
  height: 2em;
  margin-bottom: 4px;
}

.entity_name span {
  font-size: 2em;
  color: #FFF;
}

.property {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4px;
}

.key_cell {
  width: calc(30% - 8px / 3);
}
.val_cell {
  width: calc(60% - 8px / 3);
}
.rem_cell {
  width: calc(10% - 8px / 3);
}

.key_cell {
  display: flex;
  align-items: center;
}
.key_cell span {
  color: #FFF;
  text-align: left;
  width: 100%;
}

.rem_cell, .rem_cell .button {
  height: 100%;
}

.property > div, .entity_name {
  background-color: #333;
}

/*
--------------------------------------------------------------------------------
---------------------------------  VALUES  -------------------------------------
--------------------------------------------------------------------------------
*/

/*--------------------------------  VEC  -------------------------------------*/
.val_vec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
}
.val_vec > .val_uint {
  width: calc(50% - 2px);
}

/*-------------------------------  UINT  -------------------------------------*/
.val_cell > .val_uint {
  width: 100%;
}
.val_uint {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1em;
}

/*------------------------------  STRING  ------------------------------------*/
.val_string {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1em;
}