#properties table {
  margin-bottom: 10px;
  width: calc(100% - 8px);
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
  border: black 4px solid;
}

#properties table tr {
  border-bottom: black 4px solid;
}

#properties table tr:last-child {
  border-bottom: none;
}

#properties table tr td {

}

#properties td {
  padding: 0;
}

#properties .key_cell {
  border-right: 2px solid black;
}

#properties input {
  border: none;
  padding: 3px;
}

#properties input:focus {
  border: 2px solid rgb(255, 0, 0);
  padding: 1px;
  outline: none;
}

#properties .key_input {
  box-sizing: content-box;
  width: calc(100% - 6px);
}

#properties .val_string, #properties .val_number {
  box-sizing: content-box;
  width: calc(100% - 6px);
}