body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#panel_container {
  position: fixed;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 10% 90%;
  grid-template-columns: 80% 20%;
  background-color: black;
  grid-gap: 4px;
}

#tools {
  grid-row: 1;
  grid-column: 1;
}

#editor {
  background-color: lime;
  grid-row: 2;
  grid-column: 1;
}

#properties {
  background-color: blue;
  grid-row: 2;
  grid-column: 2;
}

#operations {
  grid-row: 1;
  grid-column: 2;
}

.hidden {
  display: none;
}