.button, .radio, .rem_button {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.button span, .radio span, .rem_button span {
  text-align: center;
  width: 100%;
}

.button:hover, .radio:hover, .rem_button:hover {
  cursor: pointer;
}