#tools td {
  width: calc(100% / 7);
  height: 50%;
  background-color: yellow;
}

.tool.enabled,  .tool:hover {
  background-color: red !important;
}

#tools table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}